.form-two{
  display: flex;
  /* justify-content: center; */
  flex-flow: column;
  align-items: center;
  opacity: 1.0;
  margin-top: 0px;
  animation-name: moveThree;
  animation-duration: 4.8s;
  animation-timing-function: cubic-bezier(1, 0, 0.4, 0)
}

@keyframes moveThree {
  from {opacity: 0.0;
       margin-top: 15px;
       visibility: hidden;}
  to {opacity: 1.0;
       margin-top: 0px;
       visibility: visible;}
 }

.btn-container{
  display: flex;
  justify-content: center;
}

.next-two{
  border: none;
  background-color: grey;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 40px;
  letter-spacing: 2.5px;
  /* font-family: 'Comfortaa'; */
  font-size: 16px;
  cursor: pointer;
  /* min-height: 20px; */
  /* height: 20px; */
  margin-top: 12px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 7px;
  padding-bottom: 7px;
  /* margin-bottom: 15px; */
  outline: none;
  animation-name: next-two;
  animation-duration: 5.7s;
  animation-timing-function: cubic-bezier(1, 0, .6, 0)
}
@keyframes next-two {
  from {opacity: 0.0;
       visibility: hidden;}
  to {opacity: 1.0;
       visibility: visible;}
 }

.text-area{
  resize: none;
  overflow: auto;
  outline: none;
  font-size: 14px;
  height: 100px;
  width: 300px;
  border-radius: 20px;
  border-color: grey;
}

.drop-down{
  background-color: white;
  border-color: grey;
  color: grey;
  outline: none;
}